.itemContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid blue;
    margin: 30px auto;
    padding: 20px;
}

.itemContainer__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.itemContainer h2{
    text-align: center;
}


.product__btn{
    padding: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 10px 0;
}

.product__precio{
    font-size: 24px;
    text-align: center;
}

.itemCount{
    width: 100%;
}

.btnAgregarAlCarrito{
    width: 100%;
}

.btnAgregarAlCarrito:active{
    background-color: green;
}

.btnFinalizarCompra{
    width: 100%;
}

.btnFinalizarCompra:active{
    background-color: red;
}

.imgCargando{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

@media screen and (min-width:768px) { 
    .itemContainer__details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .itemContainer__details img{
        width: 50%;
    }

    .itemContainer__details--desc{
        background-color: lightblue;
        width: 50%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .btnAgregarAlCarrito:hover{
        background-color: green;
        color: white;
        border: white 1px solid;
    }
    
    .btnFinalizarCompra:hover{
        background-color: red;
        color: white;
        border: white 1px solid;
    }
}