.botonCarrito{
    width: 80px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

.botonCarrito a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    text-decoration: none;
}

.botonCarrito a img{
    width: auto;
    height: 100%;
}

.botonCarrito p{
    color: black;
}