.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(126, 126, 255);
    padding: 5px;
}

img{
    width: 120px;
    height: auto;
}

.menu__lista{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu__lista li{
    margin: 0 15px;
}

.menu__lista li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}

.menu__lista li a:hover{
    background-color: rgb(1, 1, 136);
    border-radius: 15px;
    color: white;
}