.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(126, 126, 255);
    padding: 5px 20px;
}

img{
    width: 80px;
    height: auto;
}

.menu__lista{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu__lista li{
    margin: 0 15px;
}

.menu__lista li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}

.menu__lista li a:hover{
    background-color: rgb(1, 1, 136);
    border-radius: 15px;
    color: white;
}

@media screen and (min-width:768px) {
    .menu{
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: row;
    }
    .menu__lista{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
}